html {
  font-size: 62.5%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  margin: 2rem 0 0;
  background-color: #090b1a;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 375px;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #1b1938;
  margin-bottom: 3rem;
}

.card-container .img {
  position: relative;
  width: 100%;
  border: none;
}

.card-container .img__header {
  width: 100%;
}

.card-container .img__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(119, 14, 185, 0.536);
}

.card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 2.4rem;
  margin: 2.8rem 0 3rem;
}

.card-container .card__title {
  margin-bottom: 1.6rem;
  font-family: "Inter", sans-serif;
  font-size: 2.8rem;
  text-align: center;
  font-weight: 700;
  color: white;
}

.card-container .card__title span {
  color: #aa5cdb;
}

.card-container .card__text {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5;
  margin-bottom: 3rem;
}

.card-container .card .card__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 2.4rem;
}

.card-container .card .card__stats .stat-item {
  width: 100%;
}

.card-container .card .card__stats .stat-item__text {
  font-size: 2.6rem;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 700;
}

.card-container .card .card__stats .stat-item__text span {
  margin-top: 0.5rem;
  display: block;
  font-size: 1.3rem;
  font-family: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 0.1rem;
}

.attribution {
  position: absolute;
  bottom: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
}

.attribution p {
  color: white;
}

.attribution p a {
  text-decoration: none;
  color: #aa5cdb;
}

@media (min-width: 1440px) {
  .card-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #1b1938;
    margin-bottom: 0;
  }
  .card-container .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 8rem;
    margin: 3rem 0;
  }
  .card-container .card__title {
    margin-bottom: 2.4rem;
    font-size: 4.2rem;
    text-align: left;
    -webkit-margin-end: 9rem;
            margin-inline-end: 9rem;
  }
  .card-container .card__text {
    font-size: 1.8rem;
    margin-bottom: 7.5rem;
    text-align: left;
    -webkit-margin-end: 9rem;
            margin-inline-end: 9rem;
  }
  .card-container .card .card__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 100%;
    padding-right: 8rem;
  }
  .card-container .card .card__stats .stat-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: start;
  }
  .card-container .card .card__stats .stat-item__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */